<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections />
	<appSettings>
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=GCUSWVDB074.corp.frk.com;Initial Catalog=Holdings;User ID=ftrpt_holdings;Password=WjI3QX1KK4hvrn5o;" providerName="System.Data.SqlClient" />
	</connectionStrings>	
	</connectionStrings>
	<system.web>
		<compilation debug="false" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" maxRequestLength="4096" />
		<authentication mode="Windows">
		</authentication>
		<customErrors mode="Off" defaultRedirect="Error.aspx">
			<error statusCode="404" redirect="404.aspx" />
		</customErrors>
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>
